<div class="navbarMa">
    <img src="./assets/icones/logotipo-maximatech.png" routerLink="/" alt="logo_maxima" class="logo"/>
  <ul class="listNavbar"> 
      <li>
          <a href="#"><span class="liTitulo">Cadastro</span></a>
          <ul class="listNavbar">
              <li>Cliente</li>
              <li>Produto</li>
          </ul>
      </li>
      <li>
          <a href="#"><span class="liTitulo">Pedido</span></a>
          <ul class="listNavbar">
            <a routerLink="/novoPedido"><li>Novo pedido</li></a>
            <a routerLink="/listarPedidos"><li>Consulta pedido</li></a>
          </ul>
      </li>
  </ul>

</div>